<div class="slide__text-block">
  Now testing components (or in application tests) is expressive and the api is much more user friendly
</div>

{{code-snippet name="qunit-dom-after-example.js" unindent=false}}
