<div style="margin-top: 3rem;" class="row">
<h4>enter ember exam</h4>
<ul class="slide__list">
  <li>run <code>ember exam</code></li>
  <li>great you win</li>
  <li>use the options to level up</li>
  <ul>
    <li>randomize</li>
    <li>split</li>
    <li>parallelize</li>
    <li>run specific partitions</li>
  </ul>
</ul>
</div>
