<div class="slide__text-block">
  0232 - simplify qunit testing
</div>
<ul class="slide__list">
  <li>separates concerns between ember-qunit and qunit</li>
  <li>use normal ember apis to manipulate tests, no more testing only apis</li>
  <li>more framework agnostic</li>
</ul>
{{code-snippet name="rfc-232-example.js" unindent=false}}
