<h1 class="salmon">{{title}}</h1>
checks code for common mistakes
formatting rules
code rules

we all know what this is but its important to have everyone write <em>simplereach code</em>

however we shouldn't let this decide how we write our code so if there is something that seems wrong to you make a fuss about it so we remove it

code snippet of web-client eslint config