<h1 class="salmon">eslint</h1>

<ul class="slide__list">
  <li>checks code for common mistakes</li>
  <li>formatting rules</li>
  <li>code rules</li>
  <li>we all know what this is but its important to have everyone write <em>simplereach code</em></li>
  <li>however we shouldn't let this decide how we write our code so if there is something that seems wrong to you make a fuss about it so we remove it</li>
</ul>
