<div style="margin-top: 3rem;" class="row">
  <div class="columns five">
    <h6>the old way</h6>
    <ul class="slide__list">
      <li>get server running</li>
      <li>go to localhost:yourface/tests</li>
      <li>wait for them to start running</li>
      <li>forget to filter it to your exact test</li>
      <li>try ~8 times to abort it before refreshing and aborting</li>
      <li>finally get to your test</li>
    </ul>
  </div>

  <div class="columns five">
    <h6>another old way (if you're slightly more enlighted)</h6>
    <ul class="slide__list">
      <li>look up the documentation for <code>ember test</code></li>
      <li>run <code> ember test -s</code></li>
      <li>run <code> ember test --filter="your face test"</code></li>
      <li>wait for the project to build</li>
      <li>wonder where all these extra browsers came from</li>
      <li>try deciphering the output in your console</li>
      <li>finally get to your test</li>
    </ul>
  </div>
</div>
