<ul class="slide__list">
  <li>uses standard DOM library, not jQuery!</li>
  <li>run loop aware!</li>
  <li>supports async behavior by default!</li>
  <li>gives component tests the same helpers as acceptance tests!</li>
  <li>HUZZAH!</li>
</ul>
