<h1 class="salmon">deprecation</h1>

<ul class="slide__list">
  <li>public <code>router.router</code></li>
  <li>ember native dom helpers usage</li>
  <li><code>propertyWillChange</code> and propertyDidChange</li>
  <li><code>Ember.logger</code></li>
  <li><code>defineProperty</code></li>
  <li><code>Ember.map</code></li>
  <li><code>ember-cli-babel@5.x</code></li>
</ul>
