<h1 class="salmon">test helpers</h1>
<div class="row">
  <div class="slide__text-block">
    ember test helpers are <strong>great</strong>, as long as they are pulling in the same direction.
  </div>
</div>

{{component slideName}}