<h1 class="salmon">test helpers</h1>
<div class="row">
  <div class="slide__text-block">
    ember test helpers are <strong>great</strong>, as long as they are pulling in the same direction.
  </div>
</div>

<!-- TODO make this a helper or template only component! -->
<div class="row">
  <div class="twelve columns">
    <div class="slide__text-block">
      {{component slideName}}
    </div>
  </div>
</div>