<h1 class="salmon">{{title}}</h1>
okay cool we have a lot of tests and they're easy to write and read. thats wicked awesome.
they take a while to run right now. and i got lazy here and there so some are kinda brittle.
how do i fix it????

<button>
  run old tests
</button>
  show a gif

<button>
  run ember exam tests
</button>
  show a gif
  then go out of the browser to show how it spawns x browsers