<h1 class="salmon">{{title}}</h1>

<div class="slide__text-block">
  okay sweet, we have a ton of tests now. they're easy to write and even easier to read. BUT. THEY. TAKE. SO. LONG. TO. RUN.
</div>

{{component slideName}}