<h1 class="salmon">ember three point one</h1>

<ul class="slide__list">
  <li>named args in components</li>
  <li>es5 getters for computed properties</li>
  <li>optional features addon</li>
  <ul>
    <li>template only components</li>
    <li>application template wrapper</li>
  </ul>
</ul>