<h1 class="salmon">{{title}}</h1>

<div class="slide__text-block">
  a component template can be confusing. there are curlies everywhere. where are they all coming from???
</div>

<div class="row">
  <div class="slide__text-block">
    Lets imagine we have a componet called `your-name` that gets initialized like this
    {{code-snippet name="your-name.hbs" unindent=false}}
  </div>
</div>

<div style="margin-top: 3rem;" class="row">
  <div class="five columns">
    {{code-snippet name="named-args-component-example.js" unindent=false}}
  </div>
  <div class="five columns">
    {{code-snippet name="named-args-template-example.hbs" unindent=false}}
  </div>
</div>