<h1 class="salmon">{{title}}</h1>

<div class="row">
  <div class="twelve columns">
    <div class="slide__text-block">
      a presentation about whats new in ember, our apps and the community
      and what's coming down the road
    </div>
  </div>
</div>

<div class="row slide__column">
  <div class="pic four columns" style="background-image: url(assets/images/tomster-ny.png);"></div>
  <div class="pic four columns" style="background-image: url(assets/images/tomster.png);"></div>
  <div class="pic four columns" style="background-image: url(assets/images/zoey-atx.png);"></div>
</div>
