<h1 class="salmon">{{title}}</h1>

<div class="row">
  <div class="twelve columns">
    A page object wraps an HTML page, or fragment, with an application-specific API, allowing you to manipulate page elements without digging around in the HTML
    <br/>
    <span>- martin fowler</span>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <div class="slide__text-block">
      {{component slideName}}
    </div>
  </div>
</div>