<h1 class="salmon">{{title}}</h1>
  <div class= "six columns slide__column">
    <div class="pic" style="background-image: url(assets/images/tomster-teaching.png)"></div>
  </div>
<ol class="slide__list four columns">
  <li>testing</li>
  <ul>
    <li>grand testing unification</li>
    <li>the page object</li>
    <li>ember native dom test helpers (BUT THEY ARE ACTUALLY NOW '@ember/test-helpers!!!!!!!')</li>
    <li>qunit dom</li>
    <li>ember exma</li>
  </ul>
  <li>code style and linting</li>
  <li>ember 3.1</li>
  <ul>
    <li>named args</li>
    <li>ES5 getters</li>
    <li>optional features</li>
  </ul>
  <li>the future</li>
</ol>
