<h1 class="salmon">{{title}}</h1>
{{#unless showRobert}}
  <div class="slide__text-block" style="margin-bottom: 1rem;">
    ember testing is great out of the box but it needed some work
  </div>
  <ul class="slide__list slide__column">
    <li>brittle coupling to qunit</li>
    <li>helpers built specifically for testing</li>
    <li>clunky api to select and compare</li>
    <li>selectors rely on jQUery and not the native dom</li>
    <li>no nesting of modules</li>
    <li>does not handle async well</li>
  </ul>
{{else}}
  <div class="pic" style="background-image: url(assets/images/robert-jackson.jpg);"></div>
{{/unless}}