<h1 class="salmon">{{title}}</h1>
{{#ordered-content order=0}}
<div class="five columns slide__text-block">
  0232 - simplify qunit testing
</div>
{{/ordered-content}}
{{#ordered-content order=1}}
  <div class="five columns slide__text-block">
    0268 - acceptance testing refactor
  </div>
{{/ordered-content}}