<div class="slide__text-block">
testing a component was <em>miserable</em> made us (me) not want to do it even though it is the most important test (in one man's opinion)
</div>

{{code-snippet name="qunit-dom-before-example.js" unindent=false}}
