<header>
  <span class="u-pull-right">
    <h6>whats new in ember | 04.30.18 | andrew freeman</h6>
  </span>
</header>
<main class="container">
  {{#x-presentation currentSlide=currentSlide as |slide|}}
    {{component slide.componentName title=slide.name}}
  {{/x-presentation}}
</main>
