<span class="u-pull-left">whats new in ember</span> <span class="u-pull-right">04.30.18</span>
<main class="container">
  {{#x-presentation currentSlide=currentSlide as |slide|}}
    {{component slide.componentName}}
  {{/x-presentation}}
</main>
